body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f8f0f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app {
  background: rgb(255, 255, 255);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  color: #00796b;
}

.mood-options button {
  font-size: 24px;
  margin: 5px;
  padding: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

input, button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  background-color: #160079;
  color: white;
  border: none;
  cursor: pointer;
}

.nav-link {
  display: block;
  margin-top: 20px;
  color: #00796b;
  text-decoration: none;
}
